body{
	background-color:#F8F8F8!important;
}

h1 {
  color: green;
}

#profile-wrapper{
	text-align: center;
}

ul{
	padding: 0;
    list-style-type: none;
}


.social-links ul, li{
	list-style-type:none;
	display: inline-block;
}

.social{
	width:20px;
	height: 20px;
}

input {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  height: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}

a, a:hoverx{
  color: #3b3d3b;
	text-decoration: none;
}

textarea {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}
